<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.martinsalerno.wikitest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="true" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Livex"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|orientation"
            android:parentActivityName=".MenuActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:label="Livex" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuActivity">
        </activity>
        <activity
            android:name=".SocialActivity"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".EventsActivity"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".TakePhotoActivity"
            android:parentActivityName=".SocialActivity" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".FriendsActivity"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".EventActivity"
            android:hardwareAccelerated="true"
            android:parentActivityName=".EventsActivity" />
    </application>

</manifest>